/*Aqui va todo el codigo de css que se utilizara, 
se pueden crear diversos archivos o ponerlo todo aqui como prefiera.
Si se crear diversos archivos css para las diversas vistas cambiele el nombre a este por la vista 
a la que esta asociada*/