/*Configuraciones generales de la pagina*/
body{
    text-align: center;
    background-color: #fcffff;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    background-color: #005178;
    color: #fcffff;
    padding: 5px;
}

/*Esta parte es para que salga centrado en la pagina*/
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer{
    background-color: #005178;
    color: #fcffff;
    padding: 5px;
    margin-top: auto;
}


/*Aqui empiezan las configuraciones para la parte de ingresar el correo y contraseña*/
.form-datos {
    background-color: #c4dafa;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-datos label {
    color: #005187;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-datos input {
    background-color: #fcffff;
    border: 2px solid #84b6f4;
    padding: 10px;
    border-radius: 4px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.form-datos input:focus {
    border-color: #4d82bc;
    outline: none;
}

/* Botones */
.btn-primary{
    background-color: #005187;
    color: #fcffff; 
    border: none;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}